<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <title>Postagens Node.js</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
        font-family: 'Open Sans';
      }

      html, body {
        background-color: #3333333;
      }
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>