<h1>Recent posts:</h1>

{{#each posts}}
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created at: {{createdAt}}</p>
    <a href="/delete-post/{{id}}"><button>Delete</button></a>
    <hr>
{{/each}}

<a href="/create-post">Create a post</a>
